ABOUT-NLS
aclocal.m4
AUTHORS
autogen.sh
bootstrap
ChangeLog
config.guess
config.hin
config.sub
configure
configure.ac
configure.ac.in
COPYING
depcomp
doc
grep.spec
INSTALL
install-sh
intl
lib
m4
Makefile.am
Makefile.cvs
Makefile.in
NEWS
po
README
README-alpha
README.DOS
tests
THANKS
TODO
vms
.cvsignore
config*
Makefile*
stamp-h*
*.swp
